.venv/
__pycache__/
*.py[cod]
.env
*.egg-info/
dist/
build/
.ipynb_checkpoints/
data/outputs/
data/models/vosk*/
*.wav
!data/raw/**/*.wav
.DS_Store
Thumbs.db
reports/assets/*.png
.pytest_cache/
.coverage
htmlcov/
tools/ffmpeg/
*.zip
*.exe
